#map {
  cursor: pointer;
}

#emojiContainer {
  font-size: 2em;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.overEmoji {
  opacity: 1;
  position: absolute;
}

#textAnswer {
  opacity: 1;
  top: 0;
  transition: all 250ms;
  visibility: visible;
}

#textAnswer.hide {
  opacity: 0;
  pointer-events: none;
  top: -200px;
  visibility: hidden;
}

#countdownSideWrapper {
  opacity: 1;
  right: 0;
  transition: all 250ms;
  visibility: visible;
}

#countdownSideWrapper.hide {
  opacity: 0;
  pointer-events: none;
  right: -200px;
  visibility: hidden;
}

#countdownWrapper {
  background: rgba(255, 255, 255, 0.4);
}

#countdownWrapper.out {
  background: rgba(255, 0, 0, 0.5);
}
